body {
    background: #a2a8d3; /* Fondo de la página: segundo color */
    color: #113f67; /* Texto: cuarto color */
    font-family: Arial, sans-serif;
}

header {
    background-color: #2c3e50; /* Un color de fondo adicional para el header */
    color: #ffffff; /* Texto blanco para el header */
    padding: 10px 0;
    text-align: center;
}

main {
    max-width: 1200px; /* O el ancho que prefieras */
    margin: auto; /* Centra el 'main' en la página */
    background-color:white; /* Fondo blanco para el contenido */
    height: 700px;
    border-radius: 8px; /* Bordes redondeados para el 'main' */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
    overflow: hidden; /* Asegura que el borde redondeado contenga todo el contenido */
    margin-top: 10px; /* Eleva el 'main' para solapar el header */
    padding: 20px;
    margin-bottom: 30px;
}

main p {
    line-height: 2; /* Esta es una buena altura de línea para la legibilidad; puedes ajustar el valor como sea necesario */
  }

button {
    background: #38598b; /* Botones: tercer color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.intro-text p, .about-visualizations p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0 20px; /* Agrega margen a los lados del texto */
}

/* Añade estilos para el footer si lo deseas */
footer {
    background: #e7eaf6; /* Footer: primer color */
    color: #113f67; /* Texto del footer: cuarto color */
    text-align: center;
    padding: 10px 0;
}

.view-button {
    display: flex;         /* Establece el modelo de caja flexible para el contenedor */
    justify-content: center;
    padding-top: 30px; /* Centra el contenido a lo largo del eje principal (horizontal) */     /* Centra el contenido a lo largo del eje cruzado (vertical) */         /* Hace que la sección tenga la altura completa de la ventana del navegador */
}

.backButton {
    display: flex;         /* Establece el modelo de caja flexible para el contenedor */
    justify-content: center; /* Centra el contenido a lo largo del eje principal (horizontal) */
    padding-top: 15px; /* Centra el contenido a lo largo del eje cruzado (vertical) */
    padding-bottom: 30px;
}

.visualization-main{
   height: 900px;
}

.selectButton {
    display: flex; /* Ajusta el margen izquierdo según sea necesario */
    margin-left: 45%;
    margin-top: -7%;
    padding-bottom: 10px;
}

.countryInfo h3 {
    margin-top: 0; /* Elimina el margen superior del encabezado */
}

.country-info-section{
    max-width: 1200px; /* O el ancho que prefieras */
    margin: auto; /* Centra el 'main' en la página */
    background-color: #ffffff; /* Fondo blanco para el contenido */
    height: 700px;
    border-radius: 8px; /* Bordes redondeados para el 'main' */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
    overflow: hidden; /* Asegura que el borde redondeado contenga todo el contenido */
    margin-top: 10px; /* Eleva el 'main' para solapar el header */
    padding: 20px;
    margin-bottom: 30px;
}

